@import "lesshat";

@import url(https://reset5.googlecode.com/hg/reset.min.css) ;
@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:700italic,400,700|Open+Sans+Condensed:300,300italic,700|Slabo+13px) ;




div, header { width: 100%; }


img{
float:left;
}
.header {
  padding: 10px 0;
  background: white;
  font-family: 'Nixie One', serif;
  color: #2BB22B;
  text-align: center;
  margin: 5px;
}
.mentions a{
	color: green;
	
}
nav{
  margin: 0;
  padding: 0;
  background: #2BB22B;
  overflow: hidden;
}
  
  ul{
    list-style: none;
    text-align: center;
    overflow: hidden;
  }
    
    li{
      display: inline-block;
      margin: 0 -4px;	
      padding: 5px 0;
	}

      a{
        padding: 5px 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
	  }
        
       nav a:hover,.active {
          background: #343434;
        }


section{
  padding: 20px;
  height: 500px;
  font-family: 'Open Sans Condensed', sans-serif;
}
 #section1,#section3 {
    background: #343434;
    color: #eee;
  }

 #section2,#section4{
    background: #666;
    color: #eee;
  }


h1 {
  font-size: 2em;
}

footer {
  padding: 20px;
  background: #2BB22B;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
  height: 100px;
}